name: Build Android APK
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - run: pip install flet
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.22.0'
    - run: mv main_single.py main.py && yes | flet build apk --project Solorunner --org com.solorunner.app
    - uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/app-release.apk
